@import
url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import
url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* DESKTOP wrapper2 */

*{
    margin: 0px;
    padding: 0px;
}

.wrapper2 {
    width: 1440px;
    margin: auto;
}

.wrapper2 .row2, .wrapper2 .foot2 {
    display: flex;
    margin-left: 121px;
}

.wrapper2 .row2 .left h1 {
    font-family: 'Roboto Slab';
    width: 365px;
    height: 93px;
    font-size: 55px;
    line-height: 55.76px;
}

.wrapper2 .row2 .left .article {
    width: 662px;
    height: 374px;
    font-family: Roboto;
    font-size: 24px;
    line-height: 36px;
    margin-top: 18px;
}

.wrapper2 .row2 .right {
    margin-top: 135px;
    margin-left: 164px;
}

.wrapper2 .foot2 {
    margin-top: 94px;
    margin-bottom: 162px;
}

.wrapper2 .foot2 .bt-text {
    display: flex;
    margin-left: 132px;
    margin-top: 70px;
    font-family: Roboto;
}

.wrapper2 .foot2 .bt-text .one, .wrapper2 .foot2 .bt-text .two, .wrapper2 .foot2 .bt-text .three {
    margin-right: 95px;
}

.wrapper2 .foot2 .bt-text h2, .wrapper2 .foot2 .bt-text p {
    width: 150px;
    height: 39px;
}

.wrapper2 .foot2 .bt-text h2 {
    margin-bottom: 1px;
    font-size: 25px;
    line-height: 32.5px;
}

.wrapper2 .foot2 .bt-text p {
    font-size: 18px;
    line-height: 23.4px;
}

/* TABLET wrapper2 */
@media screen and (min-width: 600px) and (max-width: 991.98px){

    .wrapper2 {
        width: 834px;
    }

    .wrapper2 .row2, .wrapper2 .foot2 {
        margin-left: 70.08px;
    }

    .wrapper2 .row2 .left h1 {
        width: 211.4px;
        height: 53.86px;
        font-size: 32px;
        line-height: 32.44px;
    }

    .wrapper2 .row2 .left .article {
        width: 383.41px;
        height: 216.61px;
        font-size: 14px;
        line-height: 21px;
        margin-top: 10.42px;
    }

    .wrapper2 .row2 .right {
        margin-top: 78.18px;
        margin-left: 110.04px;
    }

    .wrapper2 .row2 .right #group24 {
        width: 211.98px;
        height: 199.23px;
    }

    .wrapper2 .foot2 {
        margin-top: 54.44px;
        margin-bottom: 93.83px;
    }

    .wrapper2 .foot2 .pic #group25 {
        width: 134.37px;
        height: 126.84px;
    }

    .wrapper2 .foot2 .bt-text {
        margin-left: 76.45px;
        margin-top: 40.54px;
    }

    .wrapper2 .foot2 .bt-text .one, .wrapper2 .foot2 .bt-text .two, .wrapper2 .foot2 .bt-text .three {
        margin-right: 57px;
    }

    .wrapper2 .foot2 .bt-text h2, .wrapper2 .foot2 .bt-text p {
        width: 86.88px;
        height: 22.59px;
    }

    .wrapper2 .foot2 .bt-text .two p {
        width: 89px;
    }

    .wrapper2 .foot2 .bt-text h2 {
        margin-bottom: 0.58px;
        font-size: 15px;
        line-height: 19.5px;
    }

    .wrapper2 .foot2 .bt-text p {
        font-size: 11px;
        line-height: 14.3px;
    }
}



/* MOBILE wrapper2 */
@media screen and (max-width: 599.98px){

    .wrapper2 {
        width: 375px;
    }

    .wrapper2 .row2, .wrapper2 .foot2 {
        margin-left: 36px;
    }

    .wrapper2 .row2 {
        display: block;
    }

    .wrapper2 .foot2 .pic {
        display: none;
    }

    .wrapper2 .row2 .left h1 {
        width: 170.08px;
        height: 43.34px;
        font-size: 26px;
        line-height: 26.36px;
    }

    .wrapper2 .row2 .left .article {
        width: 308.47px;
        height: 174.27px;
        font-size: 12px;
        line-height: 18px;
        margin-top: 8.39px;
    }

    .wrapper2 .row2 .right {
        margin-top: 56px;
        margin-left: 65px;
    }

    .wrapper2 .row2 .right #group24 {
        width: 170.55px;
        height: 160.29px;
    }

    .wrapper2 .foot2 {
        margin-top: 45.71px;
        margin-bottom: 76px;
    }

    .wrapper2 .foot2 .bt-text {
        margin-left: -1px;
        flex-wrap: wrap;
    }

    .wrapper2 .foot2 .bt-text .one {
        margin-right: 33.33px;
    }

    .wrapper2 .foot2 .bt-text .two {
        margin-right: 136.67px;
    }

    .wrapper2 .foot2 .bt-text .three {
        margin-top: 34px;
    }

    .wrapper2 .foot2 .bt-text h2 {
        width: 69.9px;
        height: 18.17px;
        margin-bottom: 0.83px;
        font-size: 12px;
        line-height: 15.6px;
    }
    
    .wrapper2 .foot2 .bt-text p{
        width: 85px;
        height: 18px;
        font-size: 10px;
        line-height: 13px;
    }
}